body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff; 
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.image-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100%;
  height: auto;
 
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form {
  background-color: #ffffff; /* White background for login section */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px; 
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.create-account {
  margin-top: 15px;
  font-size: 14px;
}

.create-account a {
  color: #007bff;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .login-container {
    padding: 10px; 
  }
}
