body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row-reverse; /* Reversing the order */
  height: 100vh;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 120%;
  height: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.login-form {
  background-color: #ffffff;
  /* White background for login section */
  padding: 20px;
 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  width: 80%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.create-account {
  margin-top: 15px;
  font-size: 14px;
}

.create-account a {
  color: #007bff;
  text-decoration: none;
}

/* Additional styles for checkbox alignment */


@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .image-container,
  .login-container {
    flex: unset;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  .image {
    max-width: 120%;
    height: auto;
  }
}
