.container {
  display: flex;
  height: 100vh; /* 100% of the viewport height */
}

.content {
  flex: 1; /* Take up remaining space */
  padding: 20px;
}

.image-container {
  flex: 1; /* Take up remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: none; /* Take up half of the container width */
  height: auto;
  width : 100%;

}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.create-account {
  margin-top: 15px;
  font-size: 14px;
}

.create-account a {
  color: #007bff;
  text-decoration: none;
}



/* footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex; /* Add this line */
  justify-content: center; /* Add this line */
}
body {
  background-color: #ce7f7f; /* Set your desired background color */
}


footer p {
  margin: 0;
}
